DATABASE_URL="postgresql://postgres:KgEFmAXwQIRzLBVbJiKtUsPbhlwFgPvP@thomas.proxy.rlwy.net:24244/railway"
JWT_SECRET="n02JE8vkHWK05X3XcNMef0vzcvCCbVfbRh13NjSylkM="
JWT_EXPIRES_IN="7d"
PORT=5000
FRONTEND_URL="https://campus-mall245.vercel.app"

# Paystack
PAYSTACK_SECRET_KEY="sk_test_64b59b0c9fa647cc2f50e9b9684a41a9cac7453a"
PAYSTACK_PUBLIC_KEY="pk_test_e246df28d5983fca830514e3c3477035bb85b47a"

# Cloudinary
CLOUDINARY_CLOUD_NAME="dpc4ytemn"
CLOUDINARY_API_KEY="238986784913268"
CLOUDINARY_API_SECRET="GdE9ArLMmwO_gyuaCDonPmlSmxc"

# Email (SMTP)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="modupsytech999@gmail.com"
SMTP_PASS="Omoolorun2@"
EMAIL_FROM="Campus-Mall <noreply@campusmall.com>"
