DATABASE_URL="postgresql://user:password@localhost:5432/campus_mall"
JWT_SECRET="your-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="7d"
PORT=5000
FRONTEND_URL="http://localhost:3000"

# Paystack
PAYSTACK_SECRET_KEY="sk_test_"
PAYSTACK_PUBLIC_KEY="pk_test_"

# Cloudinary
CLOUDINARY_CLOUD_NAME="dpc4ytemn"
CLOUDINARY_API_KEY="238986784913268"
CLOUDINARY_API_SECRET="GdE9ArLMmwO_gyuaCDonPmlSmxc"

# Email (SMTP)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
EMAIL_FROM="Campus-Mall <noreply@campusmall.com>"
